auto_mix_prep==0.2.0
DBUtils==1.3
fontTools==4.26.2
httpx
httpx[http2]
loguru==0.6.0
Pillow==8.3.1
PyExecJS==1.5.1
pymongo
PyMySQL
redis==4.1.3
tqdm
PyYAML==5.3.1
lxml==4.9.1
numpy
Distance==0.1.3
chardet==3.0.4
sinan==0.1.5
kafka-python==2.0.2
